# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore Docker-specific artifacts
*.log
docker-compose.override.yml

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.so

# macOS files
.DS_Store